/* You can add global styles to this file, and also import other style files */

body {
    font-family: Arial;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }